body{
    background-image: linear-gradient( rgb(2, 94, 26) 20vh, rgb(194, 194, 194) 0vh);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    }
    
.avatar-container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    
}
    
.avatar{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
    