body{
    background-image: linear-gradient( rgb(2, 94, 26) 20vh, rgb(194, 194, 194) 0vh);
    background-size: contain;
    background-repeat: no-repeat;
    }
#user-menu{
    background-color: #fff;
}
.avatar-container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    
}
    
.avatar{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.top-bar {
    background-color: lightgrey;
    
}
.avatar-user{
    margin-left: 10px;
}
ul.list-group{
    height: 550px;
    overflow-y: scroll;
}
.ligh-bl{ 
    background-color: #8EDAFC;
}
i{color: grey;}
.message-box{
    background-image: url(../img/mine.jpg);
    background-repeat: no-repeat;
    background-size: 900px 700px;
    height: 700px;
    position: relative;
    overflow-y: scroll;
    overflow-x:hidden;
}
.message-baloon{
    margin-top: 0px;
    padding: 20px;
    width: 380px;
    border-radius: 20px;
    margin: 20px;
}
.sent {
    background-color: #bfee90;
    position: relative;
    left: 440px;
}

.received {
    background-color: #fbf2f2;
}